img {
    max-width: 100%;
}

ion-toolbar {
    padding-left: 10px; padding-right: 10px; border: var(--ion-text-color) solid 2px; border-bottom: unset;
    ion-title {
        display: grid;
    }
    ion-col {
        display: flex;
    }
}

iframe {
    display: block; // iframes are inline by default
    background: #000;
    border: none; // Reset default border
    height: 83vh; // Viewport-relative units
    width: 90vw;
}

ion-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
    width: 110%;
    cursor: pointer;
    --ion-background-color: var(--ion-color-step-900) !important;
    opacity: 0.9;
}

.accept-notice {
    padding-left: 18px;
}