/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.float-left {
    float:left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.float-right {
    float:right;
    margin-bottom: 20px;
    margin-left: 20px;
}

ul {
    position:relative;
    // left:20px;
    margin-right:20px;
    display: flow-root;
}

#Navigation {
    ion-icon {
        font-size: 25px;
        margin-right: 10px;
    }

    ion-list {
        padding: 20px;
    }
}

.page-banner-text {
    padding: 40px;
    background-color: var(--ion-color-step-900);
}

page-cover h1 {
    text-decoration: underline;
}

ion-card-content {

    ion-item {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.card-section {

    ion-row {
        div {
            a {
                float: left;
            }
        }
    }

    text-align: start;
    // padding: 16px;
    width: 100%;
    background-color: var(--ion-color-step-850);


    ion-row:first-child {
        background-color: var(--ion-color-step-900); // --ion-background-color);

        // color: var(--ion-color-step-150);
    }

    ion-row {
        padding: 16px;
    }

    h1 {
        // font-family: "JetBrainsMono-Bold";
        // font-weight: 900;
        // font-size: 35px;
        padding-bottom: 0px;
        // -bottom: 0px;
        color: var(--ion-color-step-150);
        padding-left: 8px;
        // background-color: var(--ion-color-step-550);


    }

    div {
        // display:flex;
    }

    ion-row:last-child {
        padding-top: 16px !important;
    }

    ion-card-title {
        color: var(--ion-color-step-150);
    }
}

.item-div {
    p {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 20px;
    }
        #wrapper {
            /*margin-left: 16px;
            margin-right: 32px;
            margin-top: 13px;
            margin-bottom: 13px;*/
            margin-right: 32px;
        }

}

page-section {
    ion-item {
        padding-bottom: 20px;
    }

    h1 {
        padding-bottom: 20px;
    }

    p {
        padding-bottom: 10px;
    }
}

.grey {
    color: var(--ion-color-step-550);
}

app-vertical-divide {

    div {
        small {
            color: var(--ion-color-step-550);
        }

        margin-bottom: 20px;
    }

}

.ion-color-alarm {
    --ion-color-base: var(--ion-color-alarm);
    --ion-color-base-rgb: var(--ion-color-alarm-rgb);
    --ion-color-contrast: var(--ion-color-alarm-contrast);
    --ion-color-contrast-rgb: var(--ion-color-alarm-contrast-rgb);
    --ion-color-shade: var(--ion-color-alarm-shade);
    --ion-color-tint: var(--ion-color-alarm-tint);
}

/*
ion-menu-button {
    color: var(--ion-color-primary);
}*/


ion-item {
    overflow-x: auto;
}



quote p {
    display: inline;
}


ion-header {
    position: fixed;
}


.skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // opacity: 90%;
    width: 100%;
    text-align: center;
    position: unset;

    li {
        // background-color: var(--ion-color-secondary);
        color: var(--ion-text-color);
        display: inline-block;
        margin-right: 14px;
        margin-bottom: 14px;
        padding: 10px;
        font-size: 14px;
        text-transform: capitalize;
    }

    display: block;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%; // 50
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}


.img-container {
    overflow-x: auto;
    display: flex;
    height: 400px; // 315
    overflow-y: hidden;
}

.img-container img {
    width: auto;
    max-height: 450px; // 315
}

.img-container app-lazy-enlargeable-media img {
    width: auto;
    max-height: 386px; // 315
    max-width: unset !important;
}

app-scrollable-zoomable-lazy-multi-media-gallery {
    overflow-y: clip;
    overflow-x: scroll;
}

/*.cover-page {
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    text-align: center;
}*/


.container {
    h1 {
        /* For Firefox */
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
        /* For Chrome and IE */
        word-wrap: break-word;
        width: 100%;
        background-color: var(--ion-background-color-translucent); // fixme for reverse color --ion-background-color-translucent-dark
        backdrop-filter: blur(16px);
        font-size: 70px;
        font-weight: 900;
        padding: 10px;
        font-family: "JetBrainsMono-Bold";
    }



    div {
        width: 100%;

        text-align: left;

        display: inline;

        h2 {
            padding-top: 8px;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 6px;

            background-color: var(--ion-background-color-translucent);
            backdrop-filter: blur(16px);
            display: inline-block;
            font-weight: 400;
            font-family: "JetBrainsMono-ExtraLightItalic";
            width: fit-content;

        }
    }

}

/*.menu-content {
    transform: unset !important; //translate3d(0, 0, 0);
}*/

.remove-3d-transform {
    transform: unset !important; //translate3d(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

ion-content {
    scroll-behavior: smooth;
}

.collapse-margin {
    margin-right: 0px !important;
}

body {
    transform: unset !important;
}

/*
menu-content {
    /* transform: translate3d(0, 0, 0); */
//}
/*/
html {
    // transform: none !important;
}



// this is on the router outlet
.md .menu-content-reveal {
    box-shadow: none; // 4px 0px 16px rgb(0 0 0 / 18%);
}

/*
.split-pane-main {
    box-shadow: none; // 4px 0px 16px rgb(0 0 0 / 18%);
}*/

ion-modal {
    /* .fullscreen */
    --width: 95% !important;
    --height: 95% !important;
    // --border-radius: 0;.
}

img {
    border: 0;

    // max-width: unset;
}

ion-modal {
    z-index: 0 !important;
}

/*
@media only screen and (max-width: 414px) {
    img {
        max-width: 100% !important;
    }
}*/

ion-menu::part(container) {
    // border-radius: 25px;
    --background: black; // menu color
    max-width: 80px !important;

    // box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);

    // min-width: 50px !important;
}

ion-toolbar {
    --background: transparent;
}

ion-split-pane {
    --side-max-width: 80px; // this is important 6%
    --side-min-width: 30px;
}

ion-item {
    --inner-border-width: 0;
}

ion-menu-toggle ion-icon {
    // transform: scale(2);
    // zoom: 4;
    // width: 200px;
    font-size: 100px;
}

ion-router-outlet ion-content {
    // scroll-margin: 20px;
    //position: absolute;//  top: 100px;
    // --offset-top: -70px !important; // -70
    // padding-top: 70px;
}

/*
ion-content {
    // --offset-bottom: auto!important;
    --overflow: auto;
    // overflow: auto;
    &::-webkit-scrollbar {
        // display:block;
        width: 0px;
    }
}*/

.intra-nav-link {
    text-decoration: underline;
    cursor:pointer;
}

ion-content {
    --background: transparent;
}

html:not(.hydrated) body {
    display: block;
}

ion-item.md {
    --background-hover-opacity: 0.08;
    --background-hover: white;
}